@page "/item-detail/{Id}"
@inject HttpClient Http
@using BlazorWAClient.Pages.Items;


<div class="container"> 
    <p>The Id is @Id</p>
    @if(item == null){
        <p>Loading....</p>
    }
    else{
        <p>The response is @item</p>
        <p>@item.Title</p>
        <p>@item.Description</p>
        <p>@item.Price</p>
        @foreach (var image in item.Images)
        {
            <p>@image.Path></p>
            <img src="@image.Path" alt="@image.FileName"/>
        }
    }
    
</div>

@code{
    [Parameter]
    public string Id { get; set; }
    ItemModel item;

    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetJsonAsync<ItemModel>($"https://localhost:5001/api/Items/{Id}");
    }
}