@page "/item-list"
@inject HttpClient Http
@using BlazorWAClient.Pages.Items;

<div class="container">
    <h1>Items</h1>
    @if (response == null)
    {
        <p>Loading...</p>
    }
    else{
        <div><NavLink href = "@($"/item-form/")" class="btn btn-primary">Create</NavLink></div>
        foreach (var item in response)
        {
            <!-- <h5>@item.Name</h5> -->
            <NavLink href = "@($"/item-detail/{item.Id}")">@item.Name</NavLink>
            <p>@item.Title</p>
            <p>@item.Description</p>
            <p>@item.Price</p>
            <hr/>
        }
    }
</div>

@code 
{
    ItemModel[] response;
    protected override async Task OnInitializedAsync()
    {
        response = await Http.GetJsonAsync<ItemModel[]>("https://localhost:5001/api/Items");
    }

    
}